body {
  font-family: "Helvetica";
  background-color: #f6f8fa;
  color: #24292f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
}

.header {
  margin: 40px 0;
}

.header__avatar {
  border-radius: 100%;
  border: 3px solid #635e5dcf;
  box-shadow: 0 6px 25px 0px rgba(255, 255, 255, 0.52);
  object-fit: cover;
  
}
.header__avatar:hover {
  border: 3px solid #7e1804cf;
  box-shadow: 0 6px 25px 0px rgba(255, 255, 255, 0.52);
  object-fit: cover;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 35px;
  position: relative;
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
}

.header__subtitle {
  color: #24292f;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

.links {
  width: 320px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  background-color: #fff;
  list-style-type: none;
  border: 1px solid hsla(210, 18%, 87%, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
  color: #57606a;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #0969da;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #fff;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 5px;

  font-size: 14px;
  line-height: 1.4;

  color: #0969da;
  text-decoration: none;
}

.button-link:hover {
  background-color: #21012bbb;
  color: rgb(249, 249, 249);
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1);
}
.animate-charcter1
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -100deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -100deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 25px;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");


#container1 {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 200%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 40pt;

    text-align: center;

    user-select: none;
}


.title-word {
  animation: color-animation 2s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
